{% extends 'base.html' %} <!-- this tag is used to inherit from base.html -->

{% block content %} <!-- expanded with content -->
	<h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1> <!-- replaces block title in base.html with this text (Welcome to FlaskBlog) -->
	{% for post in posts %}	<!-- Jinja's `for` cycle that starts with FOR and ends with ENDFOR -->
	<!-- So, for every post in the list of posts (that was received in index() function from app.py)... -->
		<a href = "{{ url_for('post', post_id=post['id']) }}"> 
			<!-- Passing to url_for:
				first arg: `post`:
					post()
				second arg `post_id=post['id']`
					passing post_id as ['id'] to post()
			-->
			<h2>{{ post['title'] }}</h2> <!-- Title of a post goes here. Since post is a dictionary type object, we access it via post['title']-->
		</a>
		<span class="badge badge-primary">{{ post['created'] }}</span> <!-- Post creation date. -->
		<a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <!-- Edit post link -->
		<hr>
	{% endfor %}
{% endblock %}